{% macro tree(Category) %}
    <li>
        <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
            {{ Category.name }}
        </a>
        {% if Category.children|length > 0 %}
            <ul>
            {% for ChildCategory in Category.children %}
                    {{ _self.tree(ChildCategory) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
<div class="drawer_block pc col-xs-12 col-sm-12">
<nav id="category">
    <ul class="category-nav">
        <li><a href="/ec/html/products/list">全商品</a></li>
        {% for Category in Categories %}
            {{ _self.tree(Category) }}
        {% endfor %}
        <li><a href="{{ url(app.config.user_data_route, {'route': 'shopping_guide'}) }}">ショッピングガイド</a></li>
    </ul> <!-- category-nav -->
</nav>
</div>
