<div class="row">
    <div class="category_header col-xs-12">
        <h2 class="heading01">GALLERY</h2>
    </div>
    <div class="item_gallery col-xs-12">
        <ul class="item_gallery_list row">
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/01.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/02.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/03.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/04.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/05.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/06.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/07.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/08.jpg"></a></li>
            <li class="col-sm-2 col-xs-4"><a href="#" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/gallery-img/09.jpg"></a></li>
        </ul>
    </div><!--item_gallery-->
</div><!--row-->
